<div style="text-align: right; margin: 5px 50px;">
    <button type="button" class="btn btn-dark" (click)="openModalAgregar()">Agregar <i class="fa fa-plus"></i></button>
</div>

<table  class="table table-dark table-hover" >
    <thead class="thead-light">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Marca</th>
            <th scope="col">Submarca</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Modelo</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <th scope="row"> {{ auto._id }}</th>
            <td> {{ auto.marca }} </td>
            <td> {{ auto.submarca }} </td>
            <td> {{ auto.descripcion }}</td>
            <td> {{ auto.modelos }}</td>
            <td (click)="openModalConfirmarEliminar(auto)"> <i class="fas fa-trash-alt"></i> </td>
            <td (click)="openModalEditar(auto)"> <i class="fas fa-edit"></i> </td>
        </tr>
    </tbody>
</table>

<ngb-pagination class="pagination d-flex justify-content-center" [collectionSize]="autos.length" [(page)]="page" aria-label="Default pagination" style="margin-top: 40px;"></ngb-pagination>


