.vistas{
    color: white;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    height: 30px;;
    display: flex;

}
nav a{
  color: white;
  text-decoration: none;
  background-color: #ff2b63;
  width: 100%;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}



nav a {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 2500ms cubic-bezier(0.19, 1, 0.22, 1);
  } 
nav a:hover {
    border: 2px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 30px;
    text-shadow: 1px 1px 2px #427388; 
    background: rgba(0,0,0,.5);;
  }

  