/* You can add global styles to this file, and also import other style files */
body, html{
    margin: 0;
    background-image: url(/assets/images/backg.jpg);
}

.footerConBackground{
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    background-color: rgba(52, 58, 64, 1);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.ng-valid[required]{
    border-left: 5px solid green;
}

.ng-invalid:not(form){
    border-left: 5px solid red;
}
